{% extends 'point_of_sale/index.html' %} {% load render_table from django_tables2 %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                       <h4>Προϊόντα</h4>  <br >
                                        <p> Εμφανίζονται τα τελευταία 10</p>
                                    </div>
                                    <div class="card-body">
                                        {% render_table  products_table %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 div class-md-6">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>
        $('#fast_search').click(function(evt){
            evt.preventDefault();
            const search_input = $(this);
            const url = search_input.attr('data-href');
            const value = search_input.val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success: function (data) {
                    $('.product_')
                }
            })
        })
    </script>

{% endblock %}