{% extends 'point_of_sale/index.html' %} {% load render_table from django_tables2 %}

{% block content %}
     <div class="pcoded-content">
    <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                                <div class="col-md-8 col-lg-8">
                                    <h6>Προϊόντα</h6>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Προϊόν</th>
                                                <th>Ποσότητα</th>
                                                <th>Τιμή Μονάδας</th>
                                                <th>Συνολική Αξία</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in object.cart_items.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ product.title }}</td>
                                                    <td>{{ product.qty }}</td>
                                                    <td>{{ product.tag_value }}</td>
                                                    <td>{{ product.tag_total_value }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="5">Δέ έχει Προϊόντα</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>

                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="{{ back_url }}" class="btn btn-warning">Επιστροφή</a>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Πληροφορίες</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">User</p>
                                                        <h6 class="text-muted f-w-400">{{ object.user }}</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Ημερομηνία</p>
                                                        <h6 class="text-muted f-w-400">{{ object.timestamp }}</h6>
                                                    </div>

                                                </div>
                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Μεταφορικά</p>
                                                        <h6 class="text-muted f-w-400">{{ object.shipping_method }}</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Αντικαταβολή</p>
                                                        <h6 class="text-muted f-w-400">{{ object.payment_method }}</h6>
                                                    </div>
                                                </div>

                                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Αξία Προϊόντων</p>
                                                        <h6 class="text-muted f-w-400">{{ object.tag_value }}</h6>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Έκπτωση</p>
                                                        <h6 class="text-muted f-w-400">{{ object.tag_discount_value }}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'cart:create_order_from_cart' object.id %}" class="btn btn-success"><i class="fa fa-shopping-cart">
                                            </i> Δημιουργία Παραγγελίας </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Container ends -->
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

