
<div class="row">
    <div class="col-md-6 text-center">
        <table class="table table-responsive">
            <thead></thead>
            <tbody>
            <tr>
                <td>Ημερομηνία</td>
                <th>{{ instance.date_expired }}</th>
            </tr>
            <tr>
                <td>Τύπος Παραστατικού</td>
                <th>{{ instance.get_order_type_display }}</th>
            </tr>
            <tr>
                <td>Προμηθευτής</td>
                <th>{{ instance.vendor }}</th>
            </tr>
            <tr>
                <td>Καθαρή Αξία</td>
                <th>{{ instance.tag_clean_value }}</th>
            </tr>
            <tr>
                <td>Φπα</td>
                <th>{{ instance.get_taxes_modifier_display }} %</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <table class="table table-responsive">
            <thead></thead>
            <tbody>
            <tr>
                <td>Τίτλος</td>
                <th>{{ instance.title }}</th>
            </tr>
            <tr>
                <td>Αξία</td>
                <th style="background-color: thistle ">{{ instance.tag_final_value }}</th>
            </tr>
            <tr>
                <td>Επιπλέον Κόστος</td>
                <th>{{ instance.tag_additional_value }}</th>
            </tr>
            <tr>
                <td>Συνολική Αξία Φόρων</td>
                <th>{{ instance.tag_taxes }}</th>
            </tr>
            <tr>
                <td>Πληρωτέο Ποσό</td>
                <th>{{ instance.tag_paid_value }}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<table class='table'>
    <thead>
    <tr>
        <th>Κωδικός</th>
        <th>Προϊόν</th>
        <th>Qty</th>
        <th colspan="2">Αξία - Έκπτωση - Τελική</th>
        <th>Συνολική Αξία</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for order_item in instance.order_items.all %}
        <tr>
            <td>{{ order_item.sku }}</td>
            <td>{{ order_item.product }}</td>
            <td>{{ order_item.qty }} {{ order_item.get_unit_display }}</td>
            <td colspan="2">{{ order_item.tag_value }} - {{ order_item.tag_discount }} - {{ order_item.tag_final_value }}</td>
            <td>{{ order_item.tag_total_clean_value }}</td>
            <td>
                {% if order_item.attribute %}
                    <a href="{% url 'warehouse:create_order_item_with_attr' instance.id order_item.product.id %}"
                       class="btn btn-sm btn-info edit_button">
                        <i class="fa fa-edit"></i>
                    </a>
                {% else %}
                    <a href="{{ order_item.get_edit_url }}" class="btn btn-sm btn-info edit_button"><i class="fa fa-edit"></i></a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan='6'>No items added</td>
        </tr>
    {% endfor %}
    </tbody>
    
</table>

<br />


