
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Πελάτης</th>
                    <th>Διεύθυνση</th>
                    <th>Τηλέφωνο</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for costumer in costumers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ costumer }}</td>
                        <td>{{ costumer.address }}</td>
                        <td>{{ costumer.tag_phones }}</td>
                        <td><a href="{% url 'point_of_sale:order_change_costumer' instance.id costumer.id %}" class="btn btn-primary">Επιλογή</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>