<style>
    .scrollable {
  height: 800px;
  overflow-y: scroll;
}
</style>

<div class="row scrollable">
    <!-- Invoice list card start -->
    {% for product in products %}
        <div class="col-sm-6 ">
        <div class="card card-border-primary">
            <div class="card-header">
                <h3>{{ product }} </h3>
                <!-- <span class="label label-default f-right"> 28 January, 2015 </span> -->
                <div class="dropdown-secondary dropdown f-right">
                    <!-- end of dropdown menu -->
                    <span class="f-left m-r-5 text-inverse">Αξία : <h4>{{ product.tag_final_price }}</h4></span>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list list-unstyled">
                            <li>Sku #: &nbsp;{{ product.sku }}</li>
                            <li> <p class="task-due"><strong> Υπόλοιπο : </strong><strong class="label label-primary">{{ product.qty }}</strong></p></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list list-unstyled text-right">
                            <li>Αρχική Αξία:</li>
                            <li>{{ product.tag_price }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">

                {% if product.have_attr %}
                    <a href="{% url 'point_of_sale:add_to_order_attr' instance.id product.id %}" class="btn btn-info">Διάλεξε Νούμερο</a>
                {% else %}
                    <button data-href="{% url 'point_of_sale:ajax_add_product' instance.id product.id %}" class="btn btn-warning add_button block">
                       <i class="fa fa-plus"></i> Προσθήκη
                    </button>
                {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
</div>



<script>
    $('.add_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            $.ajax({
                dataType: 'json',
                url: url,
                method: 'GET',

                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        })
</script>