{% load static %}

<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
<script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>

        <!-- Bootstrap date-time-picker js -->
    <script type="e12875499901236c5b9e0bfc-text/javascript" src="{% static 'assets/pages/advance-elements/moment-with-locales.min.js' %}"></script>
    <script type="e12875499901236c5b9e0bfc-text/javascript" src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="e12875499901236c5b9e0bfc-text/javascript" src="{% static 'assets/pages/advance-elements/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- Date-range picker js -->
    <script type="e12875499901236c5b9e0bfc-text/javascript" src="{% static 'bower_components/bootstrap-daterangepicker/js/daterangepicker.js' %}"></script>
    <!-- Date-dropper js -->
    <script type="e12875499901236c5b9e0bfc-text/javascript" src=".{% static 'bower_components/datedropper/js/datedropper.min.js' %}"></script>
    <!-- Chart js -->
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'bower_components/chart.js/js/Chart.js' %}"></script>
    <!-- amchart js -->
    <script src="{% static 'assets/pages/widget/amchart/amcharts.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <script src="{% static 'assets/pages/widget/amchart/serial.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <script src="{% static 'assets/pages/widget/amchart/light.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}" type="e35820e19768f5ecccd8693b-text/javascript"></script>
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="e35820e19768f5ecccd8693b-text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="e35820e19768f5ecccd8693b-text/javascript"></script>
<script type="e35820e19768f5ecccd8693b-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="{% static 'cdn-cgi/rocket-loader.min.js' %}" data-cf-settings="e35820e19768f5ecccd8693b-|49" defer=""></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>