
<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">

        <div class="pcoded-navigatio-lavel">Dashboard</div>

        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'dashboard:home' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αρχική Σελίδα</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'dashboard:products' %}">
                    <span class="pcoded-micon"><i class="fa fa-camera"></i></span>
                    <span class="pcoded-mtext">Κατάλογος</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'point_of_sale:home' %}">
                    <span class="pcoded-micon"><i class="fa fa-credit-card"></i></span>
                    <span class="pcoded-mtext">Πωλήσεις</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'site_settings:dashboard' %}">
                    <span class="pcoded-micon"><i class="fa fa-sitemap"></i></span>
                    <span class="pcoded-mtext">Site Manager</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'dashboard:home' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αρχική Σελίδα</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span>
                    <span class="pcoded-mtext">Κατάλογος</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="active">
                        <a href="{% url 'dashboard:products' %}">
                            <span class="pcoded-mtext">Προϊόντα</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'dashboard:product_class_view' %}">
                            <span class="pcoded-mtext">Είδος</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'warehouse:vendors' %}">
                            <span class="pcoded-mtext">Προμηθευτές</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'dashboard:brand_list_view' %}">
                            <span class="pcoded-mtext">Εταιρίες</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                    <span class="pcoded-mtext">Κατηγορίες</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="{% url 'dashboard:ware_cate_list_view' %}">
                            <span class="pcoded-mtext">Κατηγορίες Αποθήκης</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'dashboard:category_list' %}">
                            <span class="pcoded-mtext">Κατηγορίες Site</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext" >Πρόσθετα</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'dashboard:characteristics_list_view' %}">
                            <span class="pcoded-mtext" >Χαρακτηριστικά</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'dashboard:attribute_class_list_view' %}">
                            <span class="pcoded-mtext" >Μεγεθολόγια</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard:discount_manager' %}">
                            <span class="pcoded-mtext">Διαχείριση Εκπτώσεων</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Αποθήκη</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'warehouse:dashboard' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αποθήκη</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    <span class="pcoded-mtext" >Παραστατικα</span>
                    <span class="pcoded-badge label label-danger">100+</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="{% url 'warehouse:invoices' %}">
                            <span class="pcoded-mtext">Παραστατικά</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:vendors' %}">
                            <span class="pcoded-mtext">Προμηθευτές</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:paychecks' %}">
                            <span class="pcoded-mtext">Επιταγές</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-gitlab"></i></span>
                    <span class="pcoded-mtext">Αναλύσεις</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'reports:ware_product_report' %}">
                            <span class="pcoded-mtext">Ανάλυση Αγορών</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="">
                            <span class="pcoded-mtext">Ανάλυση Προμηθευτών</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="">
                            <span class="pcoded-mtext">Επιταγές</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Εξόδα</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'warehouse:transcation_homepage' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αρχική Σελίδα</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                    <span class="pcoded-mtext" >Λογαριασμοί</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'warehouse:billing_view' %}">
                            <span class="pcoded-mtext">Παραστατικά</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'warehouse:billing_category_view' %}">
                            <span class="pcoded-mtext">Κατηγορίες</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                    <span class="pcoded-mtext" >Μισθοδοσία</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'warehouse:payroll_homepage' %}">
                            <span class="pcoded-mtext">Παραστατικά</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:payroll_employee' %}">
                            <span class="pcoded-mtext">Υπάλληλοι</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:occupation_list' %}">
                            <span class="pcoded-mtext">Επαγγέλματα</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                    <span class="pcoded-mtext" >Διάφορα Έξοδα</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'warehouse:generic-expense-list' %}">
                            <span class="pcoded-mtext">Παραστατικά</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:generic-expense-cate-list' %}">
                            <span class="pcoded-mtext">Κατηγορίες</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'warehouse:generic-expense-person-list' %}">
                            <span class="pcoded-mtext">Εταιρίες</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Πωλήσεις</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'point_of_sale:home' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αρχική Σελίδα</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
                    <span class="pcoded-mtext" >Πωλήσεις</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'point_of_sale:order_list' %}">
                            <span class="pcoded-mtext" >'Ολα</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="bs-table-sizing.html">
                            <span class="pcoded-mtext" >Πωλήσεις</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="bs-table-border.html">
                            <span class="pcoded-mtext" >Επιστροφές</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="bs-table-styling.html">
                            <span class="pcoded-mtext" >Κινήσεις</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                    <span class="pcoded-mtext" >Πελάτες</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'point_of_sale:costumer_list_view' %}">
                            <span class="pcoded-mtext" >Λίστα</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <div class="pcoded-navigatio-lavel">Site Manager</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'site_settings:banner_list' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Banners</span>
                </a>
            </li>
        </ul>
    </div>
</nav>