{% extends 'point_of_sale/index.html' %} {% load render_table from django_tables2 %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Λίστα Προϊόντων</h5>
                                        <input type="text" style="width: 30%"
                                               class="form-control waves-effect waves-light f-right d-inline-block md-trigger"
                                               data-href="{% url 'point_of_sale:ajax_search' instance.id %}"
                                               id="search_products" placeholder="Search">
                                    </div>
                                    <div id='products_container' class="content">
                                        {% include 'point_of_sale/ajax/products_container.html' %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="header my_header">
                                        <div class="title .my_header"><a href="{% url 'point_of_sale:copy_order' instance.id %}" class="btn btn-info"><i class="fa fa-copy"></i> </a></div>
                                    </div>
                                    <div class="content" id="order_items_container">{% include 'point_of_sale/ajax/order_container.html' %}</div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h4>Πελάτης</h4>
                                        <br><a href='' class="btn btn-success"><i class="fa fa-plus"></i>Νέος Πελάτης</a></div>
                                    <div class="card-body">
                                       <form class="form">
                                           <input  type="text" class="form-control search_costumer" placeholder="Αναζήτηση Πελάτη">
                                       </form>
                                        <div id="costumer_container">
                                            <br><br>
                                            {% include 'point_of_sale/ajax/order_costumer_container.html' %}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Πληροφορίες Αποστολής</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Διεύθυνση</td>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <td>ΤΚ</td>
                                                            <th></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{% url 'point_of_sale:print_order' instance.id  %}" target="_blank"
                                                   class="btn btn-success btn-outline-success btn-block">
                                                    <i class="fa fa-print"></i>Εκτύπωση
                                                </a>
                                            </div>
                                             <div class="col-md-6">
                                                <a onclick="return confirm('Are you sure?')" href="{% url 'point_of_sale:action_order_done' instance.id 'paid' %}" class="btn btn-danger btn-outline-danger btn-block"><i class="fa fa-send"></i>Αποστολή</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header text-center">
                                        <button class="btn btn-primary btn-round"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#actions_info"
                                                aria-expanded="false"
                                                aria-controls="actions_info"
                                        >Γενικές Πληροφορίες</button>
                                    </div>
                                    <div class="row collapse" id="actions_info">
                                        <div class="card-body">
                                            <h4>Επεξεργασία</h4>
                                            <form class="form" method="post">{% csrf_token %}
                                                {{ form }}
                                                <br> <br>
                                                <button type='submit' name='order_sub' class="btn btn-success btn-outline-success">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class='card'>
                                    <div class="header text-center">
                                       <button class="btn btn-primary"
                                               type="button"
                                               data-toggle="collapse"
                                               data-target="#general_info"
                                               aria-expanded="false"
                                               aria-controls="general_info "
                                       >Actions</button>
                                    </div>
                                    <div class="content">
                                        <div class="row collapse" id="general_info">
                                            <div class="col-md-12">
                                                <a onclick="return confirm('Are you sure?')" href="{{ instance.get_delete_url }}" class="btn btn-warning"><i class="fa fa-remove"></i>Delete</a>
                                                {% if not is_return %}
                                                    <a href="" class="btn btn-primary">
                                                        Δημιουργία Παραστατικού Επιστροφής
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('#search_products').keyup(function (event) {
            event.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            const search_name = btn.val();
            console.log(search_name);
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url + '?search_name='+search_name,
                success: function (data) {
                    $('#products_container').html(data.products_container)
                }
            })
        });

        $('.edit_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');

            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,
                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        });

        $('.add_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            $.ajax({
                dataType: 'json',
                url: url,
                method: 'GET',

                success: function (data) {
                    $('#order_items_container').html(data.order_container)
                }
            })
        })
    </script>
    <script>
        $('.search_costumer').change(function (evt) {
            evt.preventDefault();
            const my_input = $(this);
            const url = my_input.attr('data-href');
            const value = my_input.val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url + '?search_name=' + value,
                success: function (data) {
                    $('#costumer_container').html(data.result)
                }
            })
        })
    </script>
    {{ form.media }}
{% endblock %}


