
<div class="row">
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Πελάτης</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for costumer in costumers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ costumer }}</td>
                        <td><a href="" class="btn btn-primary">Επιλογή</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>