
<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Dashboard</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="{% url 'point_of_sale:home' %}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Αρχική Σελίδα</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
                    <span class="pcoded-mtext" >Πωλήσεις</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'point_of_sale:order_list' %}">
                            <span class="pcoded-mtext" >'Ολα</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="bs-table-sizing.html">
                            <span class="pcoded-mtext" >Πωλήσεις</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="bs-table-border.html">
                            <span class="pcoded-mtext" >Επιστροφές</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'point_of_sale:order_item_list_view' %}">
                            <span class="pcoded-mtext" >Κινήσεις</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                    <span class="pcoded-mtext" >Πελάτες</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'point_of_sale:costumer_list_view' %}">
                            <span class="pcoded-mtext" >Λίστα</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'point_of_sale:costumer_create_view' %}">
                            <span class="pcoded-mtext" >Δημιουργία</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                    <span class="pcoded-mtext" >Καλάθια</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="{% url 'cart:cart_list' %}">
                            <span class="pcoded-mtext" >Λίστα</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>