{% extends 'catalogue_index.html' %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header"><h4>{{ form_title }}</h4></div>
                                    <div class="card-body">
                                        <form class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                                            {{ form }}
                                            <br>
                                            <button type="submit" class="btn btn-primary btn-round"><i class="fa fa-save"></i>Αποθήκευση</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4>">
                                <a href="{{ back_url }}" class="btn btn-warning btn-round">Επιστροφή</a>
                                 {% if delete_url %}
                                    <a href="{{ delete_url }}" class="btn btn-danger btn-round" onclick="return confirm('Είσαι σίγουρος;')">Διαγραφή</a>
                                {% endif %}

                                {% if ajax_request %}
                                    <br>
                                    <button class="btn btn-info btn-round" data-href="{{ ajax_url }}" id="add_vendor" onclick="return addData(this);">{{ ajax_title }}</button>
                                {% endif %}

                                {% if button_url %}
                                    <a href="{{ copy_url }}" class="btn btn-success btn-round">Αντιγραφή</a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
        function showEditPopup(url) {
            var win = window.open(url, "Edit",
                'height=500,width=800,resizable=yes,scrollbars=yes');
            return false;
        }
        function addData(triggeringLink) {
            const name = triggeringLink.id.replace(/^add_/, '');
            const btn = $(triggeringLink);
            href = btn.attr('data-href');
            console.log(href);
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false
        }
        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }
    </script>

    {{ form.media }}

{% endblock %}