{% extends 'index.html' %} {% load render_table from django_tables2 %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <!-- task, page, download counter  start -->
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-c-yellow update-card">
                                    <div class="card-block">
                                        <div class="row align-items-end">
                                            <div class="col-8">
                                                <h4 class="text-white">{{ currency }} {{ this_month_value }}</h4>
                                                <h6 class="text-white m-b-0">Αξία Τιμολογίων Αυτο τον Μήνα</h6>
                                            </div>
                                            <div class="col-4 text-right">
                                                <canvas id="update-chart-1" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'warehouse:dashboard' %}" class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Λεπτομέριες</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-c-green update-card">
                                    <div class="card-block">
                                        <div class="row align-items-end">
                                            <div class="col-8">
                                                <h4 class="text-white">{{ currency }} {{ last_month_value }}</h4>
                                                <h6 class="text-white m-b-0">Αξία Τιμολογίων τον Προηγούμενο Μήνα</h6>
                                            </div>
                                            <div class="col-4 text-right">
                                                <canvas id="update-chart-2" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'point_of_sale:home' %}" class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Λεπτομέριες</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-c-pink update-card">
                                    <div class="card-block">
                                        <div class="row align-items-end">
                                            <div class="col-8">
                                                <h4 class="text-white">{{ currency }} {{ not_paid_value }}</h4>
                                                <h6 class="text-white m-b-0">Υπόλοιπο Προμηθευτών</h6>
                                            </div>
                                            <div class="col-4 text-right">
                                                <canvas id="update-chart-3" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'warehouse:billing_view' %}" class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Λεπτομέριες</a>
                                    </div>
                                </div>
                            </div>
                            <!-- task, page, download counter  end -->
                            <!--  sale analytics start -->
                            <div class="col-xl-9 col-md-12">
                                <div class="card table-card">
                                    <div class="card-header">
                                        <h5>Τιμολόγια</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            {% render_table queryset_table %}
                                            <div class="text-center">
                                                <a href="{% url 'warehouse:invoices' %}" class=" b-b-primary text-primary">Όλα τα τιμολόγια</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-12">
                                <div class="card user-card2">
                                    <div class="card-block text-center">
                                        <h6 class="m-b-15">Project Risk</h6>
                                        <div class="risk-rate">
                                            <span><b>5</b></span>
                                        </div>
                                        <h6 class="m-b-10 m-t-10">Balanced</h6>
                                        <a href="#!" class="text-c-yellow b-b-warning">Change Your Risk</a>
                                        <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                                            <div class="col m-t-15 b-r-default">
                                                <h6 class="text-muted">Nr</h6>
                                                <h6>AWS 2455</h6>
                                            </div>
                                            <div class="col m-t-15">
                                                                <h6 class="text-muted">Created</h6>
                                                                <h6>30th Sep</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-warning btn-block p-t-15 p-b-15">Download Overall Report</button>
                                                </div>
                                            </div>
                                            <!--  sale analytics end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}